.container {
	text-align: center;
	padding: 1.5rem;
	margin: auto;
	backdrop-filter: blur(12px);
	min-width: calc(220px * 3 + 1.5rem * 2);
	max-width: calc(220px * 5 + 1.5rem * 4);
}

.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, max-content));
	gap: 1.5rem;
	justify-content: center;
	margin: 0 auto;
}

.productGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	gap: 1.5rem;
}

.modalOverlay {
	position: fixed;
	inset: 0;
	backdrop-filter: blur(8px);
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
}