.form {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding: 2rem 3rem;
	border-radius: 8px;
	background-color: var(--color-surface-lighter);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	// width: 350px;
	color: #333;

	.title {
		font-size: 1.5rem;
		font-weight: bold;
		text-align: center;
		color: #333;
	}

	.button {
		padding: 0.75rem;
		font-size: 1rem;
		cursor: pointer;
		transition: background-color 0.2s ease;

		:hover {
			background-color: var(--color-accent-hover);
		}
	}

	.label {
		position: absolute;
		top: 0.5rem;
		left: 0.75rem;
		font-size: 1rem;
		color: #777;
		pointer-events: none;
		transition: all 0.2s ease;
		user-select: none;
	}

	select {
		padding: 0.5rem;
		font-size: 1rem;
		border: 1px solid #ccc;
		border-radius: 4px;
		background-color: #fff;
		color: #333;
	}
}