.form {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding: 2rem;
	border-radius: 8px;
	background-color: var(--color-surface-lighter);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	max-width: 350px;
	width: 350px;
	color: #333;
}

.title {
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	color: #333;
}

.button {
	padding: 0.75rem;
	font-size: 1rem;
	border: none;
	border-radius: 6px;
	background-color: var(--color-accent-primary);
	color: white;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.button:hover {
	background-color: var(--color-accent-hover);
}