.background::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.background::after {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("https://res.cloudinary.com/dq8jvjcv4/image/upload/v1763180444/stuttgart-bar-guide-die-besten-cocktailbars-der-stadt-2_v7g94h.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  filter: blur(8px);
  z-index: -2;
}

.centered {
  min-height: calc(100vh - 140px);
  // flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}
