.wrapper {
	transition: background-color 0.25s ease;
	will-change: background-color;

	position: relative;
	width: 100%;
	height: 100%;

	user-select: none;
}

.wrapper.loaded {
	background-color: transparent;
}

.image {
	opacity: 0;
	transition: opacity 0.25s ease;
	will-change: opacity;

	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.image.loaded {
	opacity: 1;
}