$border-color: #ccc;

dialog::backdrop {
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(8px);
}

dialog {
	display: flex;
	max-width: 780px;
	height: 500px;
	border-radius: 14px;
	overflow: hidden;

	picture {
		height: 100%;
		user-select: none;

		img {
			height: 100%;
			max-width: 100%;
			object-fit: cover;
		}
	}

	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 220px;
		gap: 20px;
		padding: 1.5rem;

		background-color: #f0f0f0;

		header {
			.name {
				color: #213547;
				font-size: 1.5rem;
				font-weight: bold;
			}

			.price {
				color: #777;
				font-size: 1rem;
				font-weight: bold;
			}

			.desc {
				font-size: 0.9rem;
				color: #444;
			}
		}

		.content {
			display: flex;
			flex-direction: column;
			gap: 10px;

			.dropdown {
				display: flex;
				align-items: center;

				label {
					color: #213547;
					font-size: 1rem;
					margin-right: 8px;
				}

				select {
					flex: 1;
					padding: 6px 10px;
					color: #213547;
					border: 1px solid $border-color;
					border-radius: 4px;
					background-color: #fff;
				}
			}
		}

		footer {
			button {
				padding: 10px 20px;
				font-size: 1rem;
			}
		}
	}
}