:root {
	--color-modal-text: #333;
	--color-modal-content-background: #f0f0f0;

	--color-muted-text: #777;
	--color-border: #ccc;
	--color-border-hover: #888;
	--color-select-text: #3f3f3f;
}

.overlay {
	position: fixed;
	inset: 0;
	backdrop-filter: blur(8px);
	background: rgba(0, 0, 0, 0.5);
	display: flex;
}

.modal {
	display: flex;
	max-width: 780px;
	height: 500px;
	border-radius: 14px;
	overflow: hidden;
	margin: auto;
}

.area {
	height: 100%;
}

.area img {
	display: block;
	max-width: 100%;
	width: auto;
	height: 100%;
	object-fit: cover;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-width: 200px;
	max-width: 220px;
	padding: 24px;
	gap: 12px;
	background-color: var(--color-modal-content-background);
	color: var(--color-modal-text);
}

.content>h1,
.content>p {
	margin: 0;
}

.content>.name {
	font-size: 1.5rem;
}

.content>.price {
	font-size: 1rem;
	color: var(--color-muted-text);
	font-weight: bold;
}

.content>.dropdown {
	display: flex;
	align-items: center;
	color: var(--color-modal-text);
}

.content>.dropdown label {
	margin-right: 8px;
	font-size: 1rem;
}

.content>.dropdown select {
	flex: 1;
	padding: 6px 10px;
	font-size: 0.9rem;
	border: 1px solid var(--color-border);
	border-radius: 4px;
	background-color: #fff;
	cursor: pointer;
	color: var(--color-select-text);
}

.content>.dropdown select:hover {
	border-color: var(--color-border-hover);
}

.content>.dropdown option {
	font-size: 0.9rem;
	color: var(--color-modal-text);
}

.content>.submit {
	padding: 10px 20px;
	font-size: 1rem;

	transition: background-color 0.2s ease;
	align-self: start;
}