:root {
	--quantity-border-color: #ccc;
	--quantity-bg: #fff;
	--quantity-text-color: #333;
}

button {
	background-color: var(--color-accent-primary);
}

.quantityGroup {
	display: flex;
	border-radius: 6px;
	overflow: hidden;
	border: 1px solid var(--quantity-border-color);
}

.quantityGroup button {
	border: none;
	flex: 0.05 0 auto;
	padding: 5px;
	font-size: 1.2rem;
}

.quantityGroup input {
	flex: 1;
	min-width: 0;
	text-align: center;
	background-color: var(--quantity-bg);
	color: var(--quantity-text-color);
	border: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}