@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animateFadeIn {
  animation: fadeIn 0.8s ease-out forwards;
}

.animateSlideUp {
  animation: slideUp 0.8s ease-out forwards;
}

.delay75 {
  animation-delay: 0.1s;
}
.delay150 {
  animation-delay: 0.2s;
}
.delay300 {
  animation-delay: 0.35s;
}

.dashboard {
  min-height: 100vh;
  background: #374151;
}

.sidebar {
  width: 16rem;
  background: #374151;
  border-right: 1px solid #374151;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.main {
  flex: 1;
  padding: 2rem;
}

.tabButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: 0.2s;
  font-weight: 500;
  color: black;


  &:hover {
    background: #f3f4f6;
  }

  &.active {
    background: #2563eb;
    color: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }
}
